<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Attack (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,1}</string>
                <key>spriteSize</key>
                <string>{101,157}</string>
                <key>spriteSourceSize</key>
                <string>{147,177}</string>
                <key>textureRect</key>
                <string>{{130,122},{101,157}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Attack (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,1}</string>
                <key>spriteSize</key>
                <string>{119,157}</string>
                <key>spriteSourceSize</key>
                <string>{147,177}</string>
                <key>textureRect</key>
                <string>{{130,1},{119,157}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Attack (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,1}</string>
                <key>spriteSize</key>
                <string>{95,157}</string>
                <key>spriteSourceSize</key>
                <string>{147,177}</string>
                <key>textureRect</key>
                <string>{{283,225},{95,157}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Attack (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,1}</string>
                <key>spriteSize</key>
                <string>{91,157}</string>
                <key>spriteSourceSize</key>
                <string>{147,177}</string>
                <key>textureRect</key>
                <string>{{514,330},{91,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Attack (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,1}</string>
                <key>spriteSize</key>
                <string>{93,157}</string>
                <key>spriteSourceSize</key>
                <string>{147,177}</string>
                <key>textureRect</key>
                <string>{{543,489},{93,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Attack (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,1}</string>
                <key>spriteSize</key>
                <string>{107,159}</string>
                <key>spriteSourceSize</key>
                <string>{147,177}</string>
                <key>textureRect</key>
                <string>{{433,648},{107,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Attack (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{121,153}</string>
                <key>spriteSourceSize</key>
                <string>{147,177}</string>
                <key>textureRect</key>
                <string>{{108,674},{121,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Attack (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{121,153}</string>
                <key>spriteSourceSize</key>
                <string>{147,177}</string>
                <key>textureRect</key>
                <string>{{112,829},{121,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Attack (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{121,153}</string>
                <key>spriteSourceSize</key>
                <string>{147,177}</string>
                <key>textureRect</key>
                <string>{{194,500},{121,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Attack (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{127,155}</string>
                <key>spriteSourceSize</key>
                <string>{147,177}</string>
                <key>textureRect</key>
                <string>{{1,1},{127,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Dead (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{61,11}</string>
                <key>spriteSize</key>
                <string>{114,162}</string>
                <key>spriteSourceSize</key>
                <string>{236,188}</string>
                <key>textureRect</key>
                <string>{{289,1},{114,162}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Dead (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-40}</string>
                <key>spriteSize</key>
                <string>{176,84}</string>
                <key>spriteSourceSize</key>
                <string>{236,188}</string>
                <key>textureRect</key>
                <string>{{108,496},{176,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Dead (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{58,11}</string>
                <key>spriteSize</key>
                <string>{112,162}</string>
                <key>spriteSourceSize</key>
                <string>{236,188}</string>
                <key>textureRect</key>
                <string>{{453,1},{112,162}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Dead (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{37,9}</string>
                <key>spriteSize</key>
                <string>{112,160}</string>
                <key>spriteSourceSize</key>
                <string>{236,188}</string>
                <key>textureRect</key>
                <string>{{454,115},{112,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Dead (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,0}</string>
                <key>spriteSize</key>
                <string>{126,144}</string>
                <key>spriteSourceSize</key>
                <string>{236,188}</string>
                <key>textureRect</key>
                <string>{{951,119},{126,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Dead (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-6}</string>
                <key>spriteSize</key>
                <string>{130,140}</string>
                <key>spriteSourceSize</key>
                <string>{236,188}</string>
                <key>textureRect</key>
                <string>{{951,247},{130,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Dead (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-13}</string>
                <key>spriteSize</key>
                <string>{136,130}</string>
                <key>spriteSourceSize</key>
                <string>{236,188}</string>
                <key>textureRect</key>
                <string>{{949,379},{136,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Dead (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-21}</string>
                <key>spriteSize</key>
                <string>{146,116}</string>
                <key>spriteSourceSize</key>
                <string>{236,188}</string>
                <key>textureRect</key>
                <string>{{951,1},{146,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Dead (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,-33}</string>
                <key>spriteSize</key>
                <string>{170,96}</string>
                <key>spriteSourceSize</key>
                <string>{236,188}</string>
                <key>textureRect</key>
                <string>{{215,328},{170,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Dead (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,-39}</string>
                <key>spriteSize</key>
                <string>{174,84}</string>
                <key>spriteSourceSize</key>
                <string>{236,188}</string>
                <key>textureRect</key>
                <string>{{313,322},{174,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Idle (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,1}</string>
                <key>spriteSize</key>
                <string>{113,157}</string>
                <key>spriteSourceSize</key>
                <string>{147,177}</string>
                <key>textureRect</key>
                <string>{{399,330},{113,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,1}</string>
                <key>spriteSize</key>
                <string>{113,157}</string>
                <key>spriteSourceSize</key>
                <string>{147,177}</string>
                <key>textureRect</key>
                <string>{{428,489},{113,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,1}</string>
                <key>spriteSize</key>
                <string>{111,157}</string>
                <key>spriteSourceSize</key>
                <string>{147,177}</string>
                <key>textureRect</key>
                <string>{{607,322},{111,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,1}</string>
                <key>spriteSize</key>
                <string>{111,157}</string>
                <key>spriteSourceSize</key>
                <string>{147,177}</string>
                <key>textureRect</key>
                <string>{{720,322},{111,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,1}</string>
                <key>spriteSize</key>
                <string>{109,157}</string>
                <key>spriteSourceSize</key>
                <string>{147,177}</string>
                <key>textureRect</key>
                <string>{{833,318},{109,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{109,155}</string>
                <key>spriteSourceSize</key>
                <string>{147,177}</string>
                <key>textureRect</key>
                <string>{{317,498},{109,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{107,155}</string>
                <key>spriteSourceSize</key>
                <string>{147,177}</string>
                <key>textureRect</key>
                <string>{{976,511},{107,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{107,155}</string>
                <key>spriteSourceSize</key>
                <string>{147,177}</string>
                <key>textureRect</key>
                <string>{{980,668},{107,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,1}</string>
                <key>spriteSize</key>
                <string>{109,157}</string>
                <key>spriteSourceSize</key>
                <string>{147,177}</string>
                <key>textureRect</key>
                <string>{{756,642},{109,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,1}</string>
                <key>spriteSize</key>
                <string>{109,157}</string>
                <key>spriteSourceSize</key>
                <string>{147,177}</string>
                <key>textureRect</key>
                <string>{{758,801},{109,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{103,161}</string>
                <key>spriteSourceSize</key>
                <string>{147,177}</string>
                <key>textureRect</key>
                <string>{{616,217},{103,161}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Jump (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{105,165}</string>
                <key>spriteSourceSize</key>
                <string>{147,177}</string>
                <key>textureRect</key>
                <string>{{1,496},{105,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-2}</string>
                <key>spriteSize</key>
                <string>{109,169}</string>
                <key>spriteSourceSize</key>
                <string>{147,177}</string>
                <key>textureRect</key>
                <string>{{1,158},{109,169}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,1}</string>
                <key>spriteSize</key>
                <string>{103,165}</string>
                <key>spriteSourceSize</key>
                <string>{147,177}</string>
                <key>textureRect</key>
                <string>{{110,329},{103,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,4}</string>
                <key>spriteSize</key>
                <string>{103,159}</string>
                <key>spriteSourceSize</key>
                <string>{147,177}</string>
                <key>textureRect</key>
                <string>{{743,481},{103,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,6}</string>
                <key>spriteSize</key>
                <string>{107,155}</string>
                <key>spriteSourceSize</key>
                <string>{147,177}</string>
                <key>textureRect</key>
                <string>{{980,825},{107,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,6}</string>
                <key>spriteSize</key>
                <string>{107,157}</string>
                <key>spriteSourceSize</key>
                <string>{147,177}</string>
                <key>textureRect</key>
                <string>{{867,638},{107,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,4}</string>
                <key>spriteSize</key>
                <string>{109,157}</string>
                <key>spriteSourceSize</key>
                <string>{147,177}</string>
                <key>textureRect</key>
                <string>{{869,797},{109,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,4}</string>
                <key>spriteSize</key>
                <string>{109,159}</string>
                <key>spriteSourceSize</key>
                <string>{147,177}</string>
                <key>textureRect</key>
                <string>{{1,830},{109,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,0}</string>
                <key>spriteSize</key>
                <string>{105,165}</string>
                <key>spriteSourceSize</key>
                <string>{147,177}</string>
                <key>textureRect</key>
                <string>{{1,663},{105,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Run (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{103,161}</string>
                <key>spriteSourceSize</key>
                <string>{147,177}</string>
                <key>textureRect</key>
                <string>{{328,655},{103,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Run (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{111,163}</string>
                <key>spriteSourceSize</key>
                <string>{147,177}</string>
                <key>textureRect</key>
                <string>{{617,1},{111,163}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Run (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{95,169}</string>
                <key>spriteSourceSize</key>
                <string>{147,177}</string>
                <key>textureRect</key>
                <string>{{231,655},{95,169}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Run (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,3}</string>
                <key>spriteSize</key>
                <string>{97,161}</string>
                <key>spriteSourceSize</key>
                <string>{147,177}</string>
                <key>textureRect</key>
                <string>{{338,818},{97,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Run (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,3}</string>
                <key>spriteSize</key>
                <string>{99,159}</string>
                <key>spriteSourceSize</key>
                <string>{147,177}</string>
                <key>textureRect</key>
                <string>{{848,477},{99,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Run (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{99,161}</string>
                <key>spriteSourceSize</key>
                <string>{147,177}</string>
                <key>textureRect</key>
                <string>{{442,229},{99,161}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Run (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{103,161}</string>
                <key>spriteSourceSize</key>
                <string>{147,177}</string>
                <key>textureRect</key>
                <string>{{437,809},{103,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Run (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-1}</string>
                <key>spriteSize</key>
                <string>{107,165}</string>
                <key>spriteSourceSize</key>
                <string>{147,177}</string>
                <key>textureRect</key>
                <string>{{1,329},{107,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Run (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,3}</string>
                <key>spriteSize</key>
                <string>{105,159}</string>
                <key>spriteSourceSize</key>
                <string>{147,177}</string>
                <key>textureRect</key>
                <string>{{542,811},{105,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Run (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,3}</string>
                <key>spriteSize</key>
                <string>{107,159}</string>
                <key>spriteSourceSize</key>
                <string>{147,177}</string>
                <key>textureRect</key>
                <string>{{649,807},{107,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Walk (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{105,161}</string>
                <key>spriteSourceSize</key>
                <string>{147,177}</string>
                <key>textureRect</key>
                <string>{{542,648},{105,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Walk (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,163}</string>
                <key>spriteSourceSize</key>
                <string>{147,177}</string>
                <key>textureRect</key>
                <string>{{289,117},{105,163}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Walk (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-3}</string>
                <key>spriteSize</key>
                <string>{103,167}</string>
                <key>spriteSourceSize</key>
                <string>{147,177}</string>
                <key>textureRect</key>
                <string>{{782,108},{103,167}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Walk (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-2}</string>
                <key>spriteSize</key>
                <string>{101,169}</string>
                <key>spriteSourceSize</key>
                <string>{147,177}</string>
                <key>textureRect</key>
                <string>{{112,225},{101,169}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Walk (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,1}</string>
                <key>spriteSize</key>
                <string>{101,163}</string>
                <key>spriteSourceSize</key>
                <string>{147,177}</string>
                <key>textureRect</key>
                <string>{{617,114},{101,163}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Walk (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{101,163}</string>
                <key>spriteSourceSize</key>
                <string>{147,177}</string>
                <key>textureRect</key>
                <string>{{235,826},{101,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Walk (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{103,161}</string>
                <key>spriteSourceSize</key>
                <string>{147,177}</string>
                <key>textureRect</key>
                <string>{{638,481},{103,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Walk (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-2}</string>
                <key>spriteSize</key>
                <string>{103,167}</string>
                <key>spriteSourceSize</key>
                <string>{147,177}</string>
                <key>textureRect</key>
                <string>{{782,213},{103,167}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Walk (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-1}</string>
                <key>spriteSize</key>
                <string>{105,167}</string>
                <key>spriteSourceSize</key>
                <string>{147,177}</string>
                <key>textureRect</key>
                <string>{{782,1},{105,167}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Walk (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,1}</string>
                <key>spriteSize</key>
                <string>{105,161}</string>
                <key>spriteSourceSize</key>
                <string>{147,177}</string>
                <key>textureRect</key>
                <string>{{649,644},{105,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>knight.png</string>
            <key>size</key>
            <string>{1099,990}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3338e825c2755c6fc1ebc225fec18e47:f42ea90ef01b9dab4ec06a83becb8936:2f689271eec2c0f2098986227ad4fb90$</string>
            <key>textureFileName</key>
            <string>knight.png</string>
        </dict>
    </dict>
</plist>
