<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Attack (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,1}</string>
                <key>spriteSize</key>
                <string>{101,157}</string>
                <key>spriteSourceSize</key>
                <string>{147,177}</string>
                <key>textureRect</key>
                <string>{{1478,1},{101,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Attack (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,1}</string>
                <key>spriteSize</key>
                <string>{119,157}</string>
                <key>spriteSourceSize</key>
                <string>{147,177}</string>
                <key>textureRect</key>
                <string>{{888,323},{119,157}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Attack (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,1}</string>
                <key>spriteSize</key>
                <string>{95,157}</string>
                <key>spriteSourceSize</key>
                <string>{147,177}</string>
                <key>textureRect</key>
                <string>{{1505,160},{95,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Attack (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,1}</string>
                <key>spriteSize</key>
                <string>{91,157}</string>
                <key>spriteSourceSize</key>
                <string>{147,177}</string>
                <key>textureRect</key>
                <string>{{1602,160},{91,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Attack (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,1}</string>
                <key>spriteSize</key>
                <string>{93,157}</string>
                <key>spriteSourceSize</key>
                <string>{147,177}</string>
                <key>textureRect</key>
                <string>{{1581,1},{93,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Attack (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,1}</string>
                <key>spriteSize</key>
                <string>{107,159}</string>
                <key>spriteSourceSize</key>
                <string>{147,177}</string>
                <key>textureRect</key>
                <string>{{826,1},{107,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Attack (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{121,153}</string>
                <key>spriteSourceSize</key>
                <string>{147,177}</string>
                <key>textureRect</key>
                <string>{{1206,319},{121,153}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Attack (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{121,153}</string>
                <key>spriteSourceSize</key>
                <string>{147,177}</string>
                <key>textureRect</key>
                <string>{{1361,319},{121,153}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Attack (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{121,153}</string>
                <key>spriteSourceSize</key>
                <string>{147,177}</string>
                <key>textureRect</key>
                <string>{{1516,319},{121,153}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Attack (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{127,155}</string>
                <key>spriteSourceSize</key>
                <string>{147,177}</string>
                <key>textureRect</key>
                <string>{{1676,1},{127,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Dead (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{61,11}</string>
                <key>spriteSize</key>
                <string>{114,162}</string>
                <key>spriteSourceSize</key>
                <string>{236,188}</string>
                <key>textureRect</key>
                <string>{{414,166},{114,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Dead (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-40}</string>
                <key>spriteSize</key>
                <string>{176,84}</string>
                <key>spriteSourceSize</key>
                <string>{236,188}</string>
                <key>textureRect</key>
                <string>{{1,1},{176,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Dead (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{58,11}</string>
                <key>spriteSize</key>
                <string>{112,162}</string>
                <key>spriteSourceSize</key>
                <string>{236,188}</string>
                <key>textureRect</key>
                <string>{{417,330},{112,162}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Dead (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{37,9}</string>
                <key>spriteSize</key>
                <string>{112,160}</string>
                <key>spriteSourceSize</key>
                <string>{236,188}</string>
                <key>textureRect</key>
                <string>{{712,1},{112,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Dead (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,0}</string>
                <key>spriteSize</key>
                <string>{126,144}</string>
                <key>spriteSourceSize</key>
                <string>{236,188}</string>
                <key>textureRect</key>
                <string>{{1914,1},{126,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Dead (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-6}</string>
                <key>spriteSize</key>
                <string>{130,140}</string>
                <key>spriteSourceSize</key>
                <string>{236,188}</string>
                <key>textureRect</key>
                <string>{{1913,158},{130,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Dead (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-13}</string>
                <key>spriteSize</key>
                <string>{136,130}</string>
                <key>spriteSourceSize</key>
                <string>{236,188}</string>
                <key>textureRect</key>
                <string>{{1913,300},{136,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Dead (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-21}</string>
                <key>spriteSize</key>
                <string>{146,116}</string>
                <key>spriteSourceSize</key>
                <string>{236,188}</string>
                <key>textureRect</key>
                <string>{{740,324},{146,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Dead (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,-33}</string>
                <key>spriteSize</key>
                <string>{170,96}</string>
                <key>spriteSourceSize</key>
                <string>{236,188}</string>
                <key>textureRect</key>
                <string>{{87,1},{170,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Dead (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,-39}</string>
                <key>spriteSize</key>
                <string>{174,84}</string>
                <key>spriteSourceSize</key>
                <string>{236,188}</string>
                <key>textureRect</key>
                <string>{{1,179},{174,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Idle (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,1}</string>
                <key>spriteSize</key>
                <string>{113,157}</string>
                <key>spriteSourceSize</key>
                <string>{147,177}</string>
                <key>textureRect</key>
                <string>{{581,327},{113,157}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Idle (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,1}</string>
                <key>spriteSize</key>
                <string>{113,157}</string>
                <key>spriteSourceSize</key>
                <string>{147,177}</string>
                <key>textureRect</key>
                <string>{{1047,323},{113,157}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Idle (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,1}</string>
                <key>spriteSize</key>
                <string>{111,157}</string>
                <key>spriteSourceSize</key>
                <string>{147,177}</string>
                <key>textureRect</key>
                <string>{{1061,162},{111,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,1}</string>
                <key>spriteSize</key>
                <string>{111,157}</string>
                <key>spriteSourceSize</key>
                <string>{147,177}</string>
                <key>textureRect</key>
                <string>{{1143,1},{111,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,1}</string>
                <key>spriteSize</key>
                <string>{109,157}</string>
                <key>spriteSourceSize</key>
                <string>{147,177}</string>
                <key>textureRect</key>
                <string>{{1174,160},{109,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{109,155}</string>
                <key>spriteSourceSize</key>
                <string>{147,177}</string>
                <key>textureRect</key>
                <string>{{1671,319},{109,155}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Idle (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{107,155}</string>
                <key>spriteSourceSize</key>
                <string>{147,177}</string>
                <key>textureRect</key>
                <string>{{1695,158},{107,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{107,155}</string>
                <key>spriteSourceSize</key>
                <string>{147,177}</string>
                <key>textureRect</key>
                <string>{{1804,158},{107,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,1}</string>
                <key>spriteSize</key>
                <string>{109,157}</string>
                <key>spriteSourceSize</key>
                <string>{147,177}</string>
                <key>textureRect</key>
                <string>{{1256,1},{109,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,1}</string>
                <key>spriteSize</key>
                <string>{109,157}</string>
                <key>spriteSourceSize</key>
                <string>{147,177}</string>
                <key>textureRect</key>
                <string>{{1285,160},{109,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{103,161}</string>
                <key>spriteSourceSize</key>
                <string>{147,177}</string>
                <key>textureRect</key>
                <string>{{502,1},{103,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{105,165}</string>
                <key>spriteSourceSize</key>
                <string>{147,177}</string>
                <key>textureRect</key>
                <string>{{282,1},{105,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-2}</string>
                <key>spriteSize</key>
                <string>{109,169}</string>
                <key>spriteSourceSize</key>
                <string>{147,177}</string>
                <key>textureRect</key>
                <string>{{87,173},{109,169}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,1}</string>
                <key>spriteSize</key>
                <string>{103,165}</string>
                <key>spriteSourceSize</key>
                <string>{147,177}</string>
                <key>textureRect</key>
                <string>{{250,339},{103,165}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Jump (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,4}</string>
                <key>spriteSize</key>
                <string>{103,159}</string>
                <key>spriteSourceSize</key>
                <string>{147,177}</string>
                <key>textureRect</key>
                <string>{{956,162},{103,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,6}</string>
                <key>spriteSize</key>
                <string>{107,155}</string>
                <key>spriteSourceSize</key>
                <string>{147,177}</string>
                <key>textureRect</key>
                <string>{{1805,1},{107,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,6}</string>
                <key>spriteSize</key>
                <string>{107,157}</string>
                <key>spriteSourceSize</key>
                <string>{147,177}</string>
                <key>textureRect</key>
                <string>{{1396,160},{107,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,4}</string>
                <key>spriteSize</key>
                <string>{109,157}</string>
                <key>spriteSourceSize</key>
                <string>{147,177}</string>
                <key>textureRect</key>
                <string>{{1367,1},{109,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,4}</string>
                <key>spriteSize</key>
                <string>{109,159}</string>
                <key>spriteSourceSize</key>
                <string>{147,177}</string>
                <key>textureRect</key>
                <string>{{736,163},{109,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,0}</string>
                <key>spriteSize</key>
                <string>{105,165}</string>
                <key>spriteSourceSize</key>
                <string>{147,177}</string>
                <key>textureRect</key>
                <string>{{307,168},{105,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Run (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{103,161}</string>
                <key>spriteSourceSize</key>
                <string>{147,177}</string>
                <key>textureRect</key>
                <string>{{530,164},{103,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Run (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{111,163}</string>
                <key>spriteSourceSize</key>
                <string>{147,177}</string>
                <key>textureRect</key>
                <string>{{389,1},{111,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Run (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{95,169}</string>
                <key>spriteSourceSize</key>
                <string>{147,177}</string>
                <key>textureRect</key>
                <string>{{185,1},{95,169}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Run (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,3}</string>
                <key>spriteSize</key>
                <string>{97,161}</string>
                <key>spriteSourceSize</key>
                <string>{147,177}</string>
                <key>textureRect</key>
                <string>{{87,344},{97,161}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Run (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,3}</string>
                <key>spriteSize</key>
                <string>{99,159}</string>
                <key>spriteSourceSize</key>
                <string>{147,177}</string>
                <key>textureRect</key>
                <string>{{1042,1},{99,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Run (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{99,161}</string>
                <key>spriteSourceSize</key>
                <string>{147,177}</string>
                <key>textureRect</key>
                <string>{{635,164},{99,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Run (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{103,161}</string>
                <key>spriteSourceSize</key>
                <string>{147,177}</string>
                <key>textureRect</key>
                <string>{{607,1},{103,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Run (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-1}</string>
                <key>spriteSize</key>
                <string>{107,165}</string>
                <key>spriteSourceSize</key>
                <string>{147,177}</string>
                <key>textureRect</key>
                <string>{{198,172},{107,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Run (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,3}</string>
                <key>spriteSize</key>
                <string>{105,159}</string>
                <key>spriteSourceSize</key>
                <string>{147,177}</string>
                <key>textureRect</key>
                <string>{{935,1},{105,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Run (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,3}</string>
                <key>spriteSize</key>
                <string>{107,159}</string>
                <key>spriteSourceSize</key>
                <string>{147,177}</string>
                <key>textureRect</key>
                <string>{{847,162},{107,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>knight.png</string>
            <key>size</key>
            <string>{2044,443}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4be6f03e824c532d65327180a0d59f7c:8b25ea67c6e661ba24ac8c8bedc6f280:2f689271eec2c0f2098986227ad4fb90$</string>
            <key>textureFileName</key>
            <string>knight.png</string>
        </dict>
    </dict>
</plist>
