<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Attack (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,1}</string>
                <key>spriteSize</key>
                <string>{75,125}</string>
                <key>spriteSourceSize</key>
                <string>{131,141}</string>
                <key>textureRect</key>
                <string>{{541,257},{75,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Attack (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,0}</string>
                <key>spriteSize</key>
                <string>{95,123}</string>
                <key>spriteSourceSize</key>
                <string>{131,141}</string>
                <key>textureRect</key>
                <string>{{893,127},{95,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Attack (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,1}</string>
                <key>spriteSize</key>
                <string>{75,125}</string>
                <key>spriteSourceSize</key>
                <string>{131,141}</string>
                <key>textureRect</key>
                <string>{{613,384},{75,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Attack (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,2}</string>
                <key>spriteSize</key>
                <string>{81,127}</string>
                <key>spriteSourceSize</key>
                <string>{131,141}</string>
                <key>textureRect</key>
                <string>{{380,130},{81,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Attack (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,1}</string>
                <key>spriteSize</key>
                <string>{125,125}</string>
                <key>spriteSourceSize</key>
                <string>{131,141}</string>
                <key>textureRect</key>
                <string>{{541,130},{125,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Attack (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{123,123}</string>
                <key>spriteSourceSize</key>
                <string>{131,141}</string>
                <key>textureRect</key>
                <string>{{392,388},{123,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Attack (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{131,121}</string>
                <key>spriteSourceSize</key>
                <string>{131,141}</string>
                <key>textureRect</key>
                <string>{{1,1},{131,121}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Attack (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{129,121}</string>
                <key>spriteSourceSize</key>
                <string>{131,141}</string>
                <key>textureRect</key>
                <string>{{1,134},{129,121}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Attack (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{129,121}</string>
                <key>spriteSourceSize</key>
                <string>{131,141}</string>
                <key>textureRect</key>
                <string>{{1,265},{129,121}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Attack (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-1}</string>
                <key>spriteSize</key>
                <string>{101,121}</string>
                <key>spriteSourceSize</key>
                <string>{131,141}</string>
                <key>textureRect</key>
                <string>{{101,396},{101,121}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Dead (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,4}</string>
                <key>spriteSize</key>
                <string>{75,126}</string>
                <key>spriteSourceSize</key>
                <string>{145,150}</string>
                <key>textureRect</key>
                <string>{{464,259},{75,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Dead (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-29}</string>
                <key>spriteSize</key>
                <string>{123,82}</string>
                <key>spriteSourceSize</key>
                <string>{145,150}</string>
                <key>textureRect</key>
                <string>{{930,1},{123,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Dead (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,-2}</string>
                <key>spriteSize</key>
                <string>{83,118}</string>
                <key>spriteSourceSize</key>
                <string>{145,150}</string>
                <key>textureRect</key>
                <string>{{1019,287},{83,118}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Dead (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-8}</string>
                <key>spriteSize</key>
                <string>{101,116}</string>
                <key>spriteSourceSize</key>
                <string>{145,150}</string>
                <key>textureRect</key>
                <string>{{1092,1},{101,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Dead (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-15}</string>
                <key>spriteSize</key>
                <string>{113,98}</string>
                <key>spriteSourceSize</key>
                <string>{145,150}</string>
                <key>textureRect</key>
                <string>{{1,396},{113,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Dead (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-20}</string>
                <key>spriteSize</key>
                <string>{121,82}</string>
                <key>spriteSourceSize</key>
                <string>{145,150}</string>
                <key>textureRect</key>
                <string>{{1070,203},{121,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Dead (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-25}</string>
                <key>spriteSize</key>
                <string>{127,84}</string>
                <key>spriteSourceSize</key>
                <string>{145,150}</string>
                <key>textureRect</key>
                <string>{{294,131},{127,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Dead (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-29}</string>
                <key>spriteSize</key>
                <string>{123,82}</string>
                <key>spriteSourceSize</key>
                <string>{145,150}</string>
                <key>textureRect</key>
                <string>{{930,1},{123,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Dead (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-29}</string>
                <key>spriteSize</key>
                <string>{123,82}</string>
                <key>spriteSourceSize</key>
                <string>{145,150}</string>
                <key>textureRect</key>
                <string>{{930,1},{123,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Dead (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-29}</string>
                <key>spriteSize</key>
                <string>{123,82}</string>
                <key>spriteSourceSize</key>
                <string>{145,150}</string>
                <key>textureRect</key>
                <string>{{930,1},{123,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Idle (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,125}</string>
                <key>spriteSourceSize</key>
                <string>{73,125}</string>
                <key>textureRect</key>
                <string>{{618,257},{73,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,125}</string>
                <key>spriteSourceSize</key>
                <string>{73,125}</string>
                <key>textureRect</key>
                <string>{{690,384},{73,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,125}</string>
                <key>spriteSourceSize</key>
                <string>{73,125}</string>
                <key>textureRect</key>
                <string>{{668,128},{73,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,125}</string>
                <key>spriteSourceSize</key>
                <string>{73,125}</string>
                <key>textureRect</key>
                <string>{{692,1},{73,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,125}</string>
                <key>spriteSourceSize</key>
                <string>{73,125}</string>
                <key>textureRect</key>
                <string>{{693,255},{73,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,125}</string>
                <key>spriteSourceSize</key>
                <string>{73,125}</string>
                <key>textureRect</key>
                <string>{{743,128},{73,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,125}</string>
                <key>spriteSourceSize</key>
                <string>{73,125}</string>
                <key>textureRect</key>
                <string>{{767,1},{73,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,125}</string>
                <key>spriteSourceSize</key>
                <string>{73,125}</string>
                <key>textureRect</key>
                <string>{{765,382},{73,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,125}</string>
                <key>spriteSourceSize</key>
                <string>{73,125}</string>
                <key>textureRect</key>
                <string>{{768,255},{73,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,125}</string>
                <key>spriteSourceSize</key>
                <string>{73,125}</string>
                <key>textureRect</key>
                <string>{{818,128},{73,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-3}</string>
                <key>spriteSize</key>
                <string>{78,122}</string>
                <key>spriteSourceSize</key>
                <string>{100,136}</string>
                <key>textureRect</key>
                <string>{{990,126},{78,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,2}</string>
                <key>spriteSize</key>
                <string>{80,118}</string>
                <key>spriteSourceSize</key>
                <string>{100,136}</string>
                <key>textureRect</key>
                <string>{{1022,372},{80,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-4}</string>
                <key>spriteSize</key>
                <string>{76,128}</string>
                <key>spriteSourceSize</key>
                <string>{100,136}</string>
                <key>textureRect</key>
                <string>{{212,262},{76,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-1}</string>
                <key>spriteSize</key>
                <string>{76,122}</string>
                <key>spriteSourceSize</key>
                <string>{100,136}</string>
                <key>textureRect</key>
                <string>{{1014,1},{76,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-1}</string>
                <key>spriteSize</key>
                <string>{76,122}</string>
                <key>spriteSourceSize</key>
                <string>{100,136}</string>
                <key>textureRect</key>
                <string>{{1070,125},{76,122}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Jump (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-1}</string>
                <key>spriteSize</key>
                <string>{76,122}</string>
                <key>spriteSourceSize</key>
                <string>{100,136}</string>
                <key>textureRect</key>
                <string>{{1070,125},{76,122}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Jump (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-1}</string>
                <key>spriteSize</key>
                <string>{76,122}</string>
                <key>spriteSourceSize</key>
                <string>{100,136}</string>
                <key>textureRect</key>
                <string>{{1070,125},{76,122}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Jump (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,0}</string>
                <key>spriteSize</key>
                <string>{80,120}</string>
                <key>spriteSourceSize</key>
                <string>{100,136}</string>
                <key>textureRect</key>
                <string>{{310,391},{80,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,1}</string>
                <key>spriteSize</key>
                <string>{78,118}</string>
                <key>spriteSourceSize</key>
                <string>{100,136}</string>
                <key>textureRect</key>
                <string>{{1104,372},{78,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,2}</string>
                <key>spriteSize</key>
                <string>{80,118}</string>
                <key>spriteSourceSize</key>
                <string>{100,136}</string>
                <key>textureRect</key>
                <string>{{1022,372},{80,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Run (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-1}</string>
                <key>spriteSize</key>
                <string>{86,124}</string>
                <key>spriteSourceSize</key>
                <string>{94,130}</string>
                <key>textureRect</key>
                <string>{{842,1},{86,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Run (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,1}</string>
                <key>spriteSize</key>
                <string>{88,122}</string>
                <key>spriteSourceSize</key>
                <string>{94,130}</string>
                <key>textureRect</key>
                <string>{{929,252},{88,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Run (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-1}</string>
                <key>spriteSize</key>
                <string>{86,128}</string>
                <key>spriteSourceSize</key>
                <string>{94,130}</string>
                <key>textureRect</key>
                <string>{{124,263},{86,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Run (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{84,128}</string>
                <key>spriteSourceSize</key>
                <string>{94,130}</string>
                <key>textureRect</key>
                <string>{{208,132},{84,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Run (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{92,122}</string>
                <key>spriteSourceSize</key>
                <string>{94,130}</string>
                <key>textureRect</key>
                <string>{{928,381},{92,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Run (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,124}</string>
                <key>spriteSourceSize</key>
                <string>{94,130}</string>
                <key>textureRect</key>
                <string>{{517,387},{94,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Run (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{86,124}</string>
                <key>spriteSourceSize</key>
                <string>{94,130}</string>
                <key>textureRect</key>
                <string>{{840,382},{86,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Run (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-1}</string>
                <key>spriteSize</key>
                <string>{84,128}</string>
                <key>spriteSourceSize</key>
                <string>{94,130}</string>
                <key>textureRect</key>
                <string>{{212,1},{84,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Run (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{84,124}</string>
                <key>spriteSourceSize</key>
                <string>{94,130}</string>
                <key>textureRect</key>
                <string>{{843,255},{84,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Run (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,5}</string>
                <key>spriteSize</key>
                <string>{84,118}</string>
                <key>spriteSourceSize</key>
                <string>{94,130}</string>
                <key>textureRect</key>
                <string>{{224,392},{84,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Throw (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-2}</string>
                <key>spriteSize</key>
                <string>{76,125}</string>
                <key>spriteSourceSize</key>
                <string>{96,129}</string>
                <key>textureRect</key>
                <string>{{614,1},{76,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Throw (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-1}</string>
                <key>spriteSize</key>
                <string>{74,127}</string>
                <key>spriteSourceSize</key>
                <string>{96,129}</string>
                <key>textureRect</key>
                <string>{{538,1},{74,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Throw (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-1}</string>
                <key>spriteSize</key>
                <string>{76,127}</string>
                <key>spriteSourceSize</key>
                <string>{96,129}</string>
                <key>textureRect</key>
                <string>{{382,1},{76,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Throw (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{82,129}</string>
                <key>spriteSourceSize</key>
                <string>{96,129}</string>
                <key>textureRect</key>
                <string>{{124,132},{82,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Throw (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{94,127}</string>
                <key>spriteSourceSize</key>
                <string>{96,129}</string>
                <key>textureRect</key>
                <string>{{290,262},{94,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Throw (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-1}</string>
                <key>spriteSize</key>
                <string>{76,127}</string>
                <key>spriteSourceSize</key>
                <string>{96,129}</string>
                <key>textureRect</key>
                <string>{{460,1},{76,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Throw (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-1}</string>
                <key>spriteSize</key>
                <string>{76,127}</string>
                <key>spriteSourceSize</key>
                <string>{96,129}</string>
                <key>textureRect</key>
                <string>{{386,259},{76,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Throw (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-1}</string>
                <key>spriteSize</key>
                <string>{76,127}</string>
                <key>spriteSourceSize</key>
                <string>{96,129}</string>
                <key>textureRect</key>
                <string>{{463,130},{76,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Throw (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{86,129}</string>
                <key>spriteSourceSize</key>
                <string>{96,129}</string>
                <key>textureRect</key>
                <string>{{124,1},{86,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Throw (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-1}</string>
                <key>spriteSize</key>
                <string>{82,127}</string>
                <key>spriteSourceSize</key>
                <string>{96,129}</string>
                <key>textureRect</key>
                <string>{{298,1},{82,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>NinjaGirl.png</string>
            <key>size</key>
            <string>{1194,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d7b9c5aa03b865dd6f04f8b8132d4243:ccdb128cdf8c02ca8343bd8641a011e6:3f73801ed160bb960c9b30fdb9631d3a$</string>
            <key>textureFileName</key>
            <string>NinjaGirl.png</string>
        </dict>
    </dict>
</plist>
